<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Khách Hàng</title>
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

<div class="col-12">
    <div class="card recent-sales overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Danh Sach Khach Hang <span>| Today</span></h5>
            <a th:href="@{/add}" style="margin-top: 20px;margin-left: 1300px;margin-bottom:20px" class="btn btn-primary">ADD</a>
            <form th:action="@{/khachhang}" method="get" class="row g-3 mb-4" >
                <div class="col-auto">
                    <input type="text" name="keyword" th:value="${keyword}" placeholder="Tìm kiếm..." class="form-control" />
                </div>

                <div class="col-auto">
                    <select name="gioiTinh" class="form-select">
                        <option th:value="${null}" th:text="'Tất cả'"></option>
                        <option th:value="true" th:text="'Nam'" th:selected="${gioiTinh == true}"></option>
                        <option th:value="false" th:text="'Nữ'" th:selected="${gioiTinh == false}"></option>
                    </select>
                </div>

                <div class="col-auto">
                    <input type="text" name="diaChi" th:value="${diaChi}" placeholder="Địa chỉ" class="form-control" />
                </div>

                <div class="col-auto">
                    <input type="text" name="soDienThoai" th:value="${soDienThoai}" placeholder="Số điện thoại" class="form-control" />
                </div>

                <div class="col-auto">
                    <input type="email" name="email" th:value="${email}" placeholder="Email" class="form-control" />
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </div>
            </form>


            <table class="table table-border datatable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ Tên</th>
                    <th>Giới Tính</th>
                    <th>Địa Chỉ</th>
                    <th>Số Điện Thoại</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="khachHang : ${khachHangPage}">
                    <td th:text="${khachHang.id}"></td>
                    <td th:text="${khachHang.hoTen}"></td>
                    <td th:text="${khachHang.gioiTinh ? 'Nam':'Nữ'}"></td>
                    <td th:text="${khachHang.diaChi}"></td>
                    <td th:text="${khachHang.soDienThoai}"></td>
                    <td th:text="${khachHang.email}"></td>
                    <td>
                        <a th:href="@{/detail/{id}(id=${khachHang.id})}" class="btn btn-outline-dark">Detail</a>
                        <a th:href="@{/update/{id}(id=${khachHang.id})}" class="btn btn-success">Update</a>
                        <a th:href="@{/remove/{id}(id=${khachHang.id})}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center mt-4">
                <nav>
                    <ul class="pagination">
                        <!-- Nút Previous -->
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/khachhang(page=${currentPage-1}, keyword=${keyword}, gioiTinh=${gioiTinh})}">Previous</a>
                        </li>

                        <!-- Các nút phân trang -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages-1)}"
                            th:classappend="${i == currentPage} ? 'active'">
                            <a class="page-link" th:href="@{/khachhang(page=${i}, keyword=${keyword}, gioiTinh=${gioiTinh})}" th:text="${i+1}"></a>
                        </li>

                        <!-- Nút Next -->
                        <li class="page-item" th:classappend="${currentPage == totalPages-1} ? 'disabled'">
                            <a class="page-link" th:href="@{/khachhang(page=${currentPage+1}, keyword=${keyword}, gioiTinh=${gioiTinh})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

</body>
</html>
